$offWhite: hsl(36, 100%, 99%);
$grayBlue: hsl(233, 8%, 79%);
$drkgrayBlue: hsl(236, 13%, 42%);
$drkBlue: hsl(240, 100%, 5%);
$orange: hsl(35, 77%, 62%);
$red: hsl(5, 85%, 63%);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;
    font-family: 'Inter', sans-serif;

    .grid-container  {
        max-width: 1400px;
        display: grid;
        grid-template-areas: //must be a square or rectangle
            'nav nav nav'
            'main main side'
            'main main side' 
            'btm1 btm2 btm3';
        gap: 20px;
        margin: 10vh 10vw;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        height:auto;
        background-color: #fff;
    }

    // grid boxes

    // main box
    .item1 {
        grid-area: main;    

        img {
            object-fit: contain;
            width: 100%;
        }

        .text-main {
            display: flex;

            h1 {
                padding: 40px 40px 40px 0;
                font-weight: 800;
            }
        }

        .text-main-2 {

            p {
                padding:10px;
            }
        }

        .btn {
            background-color: $red;
            color: #fff;
            padding: 30px;
            border: none;
            align-self: flex-start;

        }
    }

    //side
    .item2 {
        grid-area: side;
        padding: 30px;
        background-color: $drkBlue;
        color: #fff;
    }

    //bottom 
    .item3 {
        grid-area: btm1;
        display: flex;

        img  {
            object-fit: contain;
            align-self: flex-start;
        }
    }

    .item4 {
        grid-area: btm2;
        display: flex;

        img  {
            object-fit: contain;
            align-self: flex-start;
        }
    }

    .item5 {
        grid-area: btm3;
        display: flex;

        img  {
            object-fit: contain;
            align-self: flex-start;
        }
    }

    // box text class
    .text {
        padding: 10px;
    }

    // nav
    .nav {
        grid-area: nav;

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: end;

            a {
                text-decoration: none;
                padding: 0 20px 0;
                color:$drkgrayBlue;
                cursor: pointer;
            }
        }

        img {
            padding: 10px;
        }
    }

}