* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blue;

    .grid-container  {
        max-width: 1400px;
        display: grid;
        grid-template-areas: //must be a square or rectangle
            'nav nav nav'
            'main main side'
            'main main side' 
            'btm1 btm2 btm3';
        gap: 20px;
        margin: 10vh 10vw;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        height:auto;
        background-color: #fff;
    }

    // grid boxes

    // main box
    .item1 {
        grid-area: main;
        width: 90%;
        overflow: hidden;
    }

    .item2 {
        grid-area: side;
    }

    .item3 {
        grid-area: btm1;
    }

    .item4 {
        grid-area: btm2;
    }

    .item5 {
        grid-area: btm3;
    }

    .nav {
        grid-area: nav;

        ul {
            display: flex;
            flex-direction: row;
            list-style-type: none;
            justify-content: end;
        }
    }

}